.App {
    text-align: center;
  }
  
  .main-application {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .ant-layout-header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #D2DAE5;

  }
  